In [16]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt 
from scipy.stats import spearmanr, pointbiserialr, chi2_contingency

In [18]:
file_name="./data/Input_data_without_additional_columns_.csv"
df = pd.read_csv(file_name)
df

,postal_code,locality_name,subtype,price,number_of_bedrooms,living_area,equiped_kitchen,furnished,open_fire,terrace,terrace_area,garden,number_facades,swimming_pool,state_of_building
0,2800,Maurits Sabbestraat 4 202,Apartment,329000,3.0,104,0,0,0,1,NaN,0,2.0,0,Excellent
1,2200,Nieuwstraat 13,Residence,425000,3.0,378,0,0,0,1,NaN,1,2.0,0,To be renovated
2,2840,Veerstraat,Apartment,264700,1.0,69,0,0,0,1,25.0,0,NaN,0,NaN
3,2300,Generaal van der Meerschstraat 85 2,Apartment,180000,2.0,88,0,0,0,1,2.0,0,2.0,0,Normal
4,2840,Kapelstraat 112,Residence,309000,3.0,124,0,0,0,0,NaN,1,2.0,0,Normal
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8792,1080,NaN,Studio,170000,0.0,50,1,0,0,0,NaN,0,2.0,0,Normal
8793,1180,NaN,Apartment,525000,3.0,130,0,0,0,1,20.0,0,4.0,0,NaN
8794,1030,Allée des Freesias 18 04,Apartment,269000,2.0,85,1,0,0,0,NaN,0,4.0,0,Excellent
8795,1000,NaN,Penthouse,399000,3.0,126,1,0,0,1,16.0,0,2.0,0,Excellent
8796,1000,Avenue Michel-Ange 54 4.6,Apartment,545000,2.0,127,0,1,0,0,NaN,0,NaN,0,Fully renovated

In [20]:
import os
from itertools import combinations

def find_similar_rows(df, file_name=None):
    rows = []
    cols = df.columns

    # We go through all pairs of lines (i < j)
    for i, j in combinations(df.index, 2):
        diff_cols = (df.loc[i] != df.loc[j])

        # We count the number of differences
        if diff_cols.sum() == 1:
            col_name = cols[diff_cols.argmax()]  # название отличающегося столбца

            rows.append({
                "row_i": i,
                "row_j": j,
                "different_column": col_name,
                "value_i": df.loc[i, col_name],
                "value_j": df.loc[j, col_name],
                "row_i_data": df.loc[i].to_dict(),
                "row_j_data": df.loc[j].to_dict()
            })

    df_similar = pd.DataFrame(rows)

    # Save CSV if file specified
    if file_name is not None:
        name, ext = os.path.splitext(file_name)
        new_file = f"{name}_similar_rows.csv"
        df_similar.to_csv(new_file, index=False)

    return df_similar

df_similar = find_similar_rows(df, file_name=file_name)